<!doctype html>
<html>
<body>
    <h1>Hello {{ name }}!</h1>
    <h2>Player Table</h2>
    {% for player in players %}
        <li>{{player}}</li>
    {% endfor %}
    <h2>Game Table</h2>
    {% for game in games %}
        <li>{{game}}</li>
    {% endfor %}
    <h2>Add Game</h2>
    <form action='creategame' method='POST'>
        <input type='text' name='game' id='game' placeholder='game'></input>
        <input type='submit' name='submit'></input>
    </form>
    <h2>Remove Game</h2>
    <form action='deletegame' method='POST'>
        <input type='text' name='game' id='game' placeholder='game'></input>
        <input type='submit' name='submit'></input>
    </form>
    <a href="/logout">Logout</a>
</body>
</html>